.px-6 {
    padding-left: 10rem;
    padding-right: 10.5rem;
}
.py-6 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.px-header {
    padding-left: 5rem;
    padding-right: 5rem;
}

.fs-title {
    font-size: clamp(2rem, calc(3.5vw + 1rem), 7rem);
}

.bg-black-50 {
    background-color: #111111;
}

.bg-black-50-glass {
    background-color: rgba(0, 0, 0, 0.253);
    backdrop-filter: blur(5px);
}

.nav-link.active {
    color: white !important;
}

.h-100vh {
    height: 91vh;
    /* section 100vh - header */
}

.bigest1 {
    font-size: clamp(2rem, calc(3vw + 1rem), 4rem);
}
.bottom--10 {
    bottom: -5%;
}

/* Sections */
/* ========================================================= */
.btn-transparant img {
    transition: all 0.3s ease-in-out;
}

.btn-transparant:hover img {
    transform: rotate(45deg);
}

main section {
    padding: 0 4rem;
    position: relative;
    min-height: 91vh;
    margin-top: 8vh;
}

/* hero section */
/* -------------------------------------------------------- */

.hero {
    position: relative;
    width: 100%;
    height: 91vh;
    padding: 0 4rem;
    margin: 0;
    /* background-color: red; */
}

.heroMobile {
    height: 100% !important;
    min-height: auto !important;
}

.hero > img {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* top: 0; */
    width: 92%;
    height: 98%;
    z-index: -1;
}

.heroBottom {
    bottom: 3rem;
    right: 6rem;
}

.meteo {
    background-color: rgba(255, 255, 255, 0.164);
    padding-bottom: 1rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* -------------------------------------------------------- */

/* activites section */
/* -------------------------------------------------------- */
.activitesduo {
    padding-bottom: 3rem;
}
.activitesduo .plane {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
}

.activitesduo .duoImgBottomLeft {
    position: absolute;
    bottom: 2rem;
    left: 4.5rem;
    width: 30%;
    height: auto;
}

.activitesduo .duoImgTopRight {
    position: absolute;
    top: 1.5rem;
    right: 4.5rem;
    width: 30%;
    height: auto;
}

#selector {
    transition: top 0.3s ease; /* effet fluide */
    pointer-events: none; /* ne bloque plus les clics */
}

.more {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: white;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    margin: 0 10rem 0 auto;
}

ul li {
    cursor: pointer;
}

/* -------------------------------------------------------- */

/* Tarifs section */
/* -------------------------------------------------------- */
.cardTarifContainer {
    gap: clamp(1rem, 5vw, 7rem);
}

.cardTarif {
    width: 25rem;
    height: auto;
}

.cardTarif img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.fullY {
    height: 100%;
}

/* -------------------------------------------------------- */

/* ========================================================= */

/* footer */
/* ========================================================= */

.border-end-button {
    border-right: 1px solid white;
}

.fs-BigTitle {
    font-size: clamp(3rem, calc(10vw + 1rem), 13rem);
    /* margin-top: -2rem; */
}

.hoverEffect:hover {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease;
}

.hoverEffect:hover .text-white {
    color: black !important;
    transition: color 0.3s ease;
}

.hoverEffect:hover img {
    filter: invert(1);
    transition: filter 0.3s ease;
}
