<div class="border border-white text-white footerContainer">
    <div class="footerTop">
        <section class="d-flex">
            <article
                class="w-100 d-flex flex-column gap-3 border-end border-white p-4"
            >
                <h2 class="Edges bigest1">ACF2L</h2>
                <nav>
                    <ul
                        class="d-flex flex-column gap-2 GTPlanar text-white list-unstyled"
                    >
                        <li>
                            <a href="" class="nav-link text-reset">Accueil</a>
                        </li>
                        <li>
                            <a href="" class="nav-link text-reset">A propos</a>
                        </li>
                        <li>
                            <a href="" class="nav-link text-reset"
                                >Nous contacter</a
                            >
                        </li>
                        <li>
                            <a href="" class="nav-link text-reset"
                                >Mentions légales
                            </a>
                        </li>
                    </ul>
                </nav>
            </article>
            <article class="w-100 p-4">
                <h3 class="fs-4">S'abonner</h3>
                <p>
                    Inscrivez-vous à notre newsletter pour rester informé des
                    dernières nouveautés.
                </p>
                <form action="">
                    <div>
                        <div class="d-flex gap-0">
                            <input
                                type="email"
                                placeholder="Entrez votre email"
                                class="w-100 bg-transparent text-white border border-white p-2 rounded-0"
                            />
                            <button
                                type="button"
                                class="btn bg-white text-black p-2 border-0 rounded-0 border border-white"
                            >
                                S'abonner
                            </button>
                        </div>
                        <p>
                            En vous abonnant, vous acceptez la politique de
                            confidentialité et consentez à recevoir des mises à
                            jour de notre société.
                        </p>
                    </div>
                    <div class="d-flex flex-column gap-2 align-items-end">
                        <textarea
                            name="message"
                            id="message"
                            class="p-2 bg-transparent border border-white text-white w-100"
                            style="height: 150px; resize: none"
                            placeholder="Message"
                        ></textarea>
                        <button
                            type="submit"
                            class="btn btn-white text-black bg-white border-0 rounded-0 w-25"
                        >
                            Soumettre
                        </button>
                    </div>
                </form>
            </article>
        </section>
        <section class="d-flex border-top border-bottom border-white">
            <button
                class="w-100 btn btn-transparent text-white border-end-button rounded-0 d-flex justify-content-between align-items-center hoverEffect"
            >
                acf2l@gmail.com
                <img src="./IMG/icon/arrowTopRight.svg" alt="arrow" />
            </button>
            <button
                class="w-100 btn btn-transparent text-white border-end-button rounded-0 d-flex justify-content-between align-items-center hoverEffect"
            >
                FACEBOOK
                <img src="./IMG/icon/arrowTopRight.svg" alt="arrow" />
            </button>
            <button
                class="w-100 btn btn-transparent text-white border-end-button rounded-0 d-flex justify-content-between align-items-center hoverEffect"
            >
                X
                <img src="./IMG/icon/arrowTopRight.svg" alt="arrow" />
            </button>
            <button
                class="w-100 btn btn-transparent text-white rounded-0 d-flex justify-content-between align-items-center hoverEffect"
            >
                LINKEDIN
                <img src="./IMG/icon/arrowTopRight.svg" alt="arrow" />
            </button>
        </section>
    </div>
    <div
        class="footerBottom d-flex justify-content-between align-items-center p-4"
    >
        <p class="m-0">© 2024 ACF2L. Tous droits réservés.</p>
        <div class="d-flex gap-3 justify-content-end align-items-center">
            <a href="" class="text-white">Politique de confidantialité</a>
            <a href="" class="text-white">Conditions d'utilisation</a>
        </div>
    </div>
</div>
<p class="text-white Edges fs-BigTitle text-end">ACF2L</p>
<img
    src="./IMG/fond/nuage.svg"
    alt="imageDeNuage"
    class="position-absolute bottom--10 start-0 w-100"
/>
