<!-- component header -->

<div class="row align-items-center justify-content-between">
	<div class="col-auto">
		<a href="#hero" class="text-decoration-none">
			<img
				src="../IMG/icon/acf2L.png"
				alt="ACF2L Logo"
				class="img-icon-acf2L"
				style="height: 60px; width: auto"
			/>
		</a>
	</div>
	<div class="col d-none d-lg-flex align-items-center justify-content-end">
		<nav>
			<ul class="nav text-white-50 GTPlanar">
				<li class="nav-item">
					<a href="#hero" class="nav-link text-reset">Accueil</a>
				</li>
				<li class="nav-item">
					<a href="#activites" class="nav-link text-reset"
						>Activités</a
					>
				</li>
				<li class="nav-item">
					<a href="#categories" class="nav-link text-reset">ULM</a>
				</li>
				<li class="nav-item">
					<a href="#tarifs" class="nav-link text-reset">Tarifs</a>
				</li>
				<li class="nav-item">
					<a href="#moyens" class="nav-link text-reset">Moyens</a>
				</li>
			</ul>
		</nav>

		<a
			href="#tarifs"
			class="btn btn-light ms-2 d-flex align-items-center rounded-pill rotateNone"
		>
			<span class="ms-1 fw-bold Edges">Réservation</span>
			<div
				class="d-flex justify-content-center align-items-center p-2 rounded-circle ms-3 bg-black"
			>
				<img
					class=""
					src="../IMG/icon/arrowTopRight.svg"
					alt="arrowTopRight"
				/>
			</div>
		</a>
	</div>
	<button
		class="col-auto d-flex d-lg-none align-items-center justify-content-center btn"
		id="mobileMenuToggle"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#mobileMenu"
		aria-controls="mobileMenu"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<img src="../IMG/icon/menuBurger.svg" alt="Menu Burger" />
	</button>
</div>

<!-- mobile -->
<div class="collapse d-lg-none" id="mobileMenu">
	<div class="text-white p-4">
		<nav>
			<ul class="nav flex-column GTPlanar">
				<li class="nav-item mb-3">
					<a
						href="#hero"
						class="nav-link text-white text-decoration-none"
						>Accueil</a
					>
				</li>
				<li class="nav-item mb-3">
					<a
						href="#activites"
						class="nav-link text-white text-decoration-none"
						>Activités</a
					>
				</li>
				<li class="nav-item mb-3">
					<a
						href="#categories"
						class="nav-link text-white text-decoration-none"
						>ULM</a
					>
				</li>
				<li class="nav-item mb-3">
					<a
						href="#tarifs"
						class="nav-link text-white text-decoration-none"
						>Tarifs</a
					>
				</li>
				<li class="nav-item mb-4">
					<a
						href="#moyens"
						class="nav-link text-white text-decoration-none"
						>Moyens</a
					>
				</li>
			</ul>
		</nav>

		<a
			href="#tarifs"
			class="btn btn-light d-flex align-items-center rounded-pill w-100 justify-content-center"
		>
			<span class="fw-bold Edges">Réservation</span>
			<div
				class="d-flex justify-content-center align-items-center p-2 rounded-circle ms-3 bg-black"
			>
				<img src="../IMG/icon/arrowTopRight.svg" alt="arrowTopRight" />
			</div>
		</a>
	</div>
</div>
