<!-- component header -->

<div class="row align-items-center justify-content-between">
    <div class="col-auto bg-primary">x</div>
    <div class="col d-flex align-items-center justify-content-end">
        <nav>
            <ul class="nav text-white-50 GTPlanar">
                <li class="nav-item">
                    <a href="#hero" class="nav-link text-reset">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="#activites" class="nav-link text-reset"
                        >Activités</a
                    >
                </li>
                <li class="nav-item">
                    <a href="#categories" class="nav-link text-reset">ULM</a>
                </li>
                <li class="nav-item">
                    <a href="#tarifs" class="nav-link text-reset">Tarifs</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-reset">Équipe</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-reset">Évènements</a>
                </li>
            </ul>
        </nav>
        <button
            class="btn btn-light ms-2 d-flex align-items-center rounded-pill"
        >
            <span class="ms-1 fw-bold Edges">Réservation</span>
            <div
                class="d-flex justify-content-center align-items-center p-2 rounded-circle ms-3 bg-black"
            >
                <img
                    class=""
                    src="../IMG/icon/arrowTopRight.svg"
                    alt="arrowTopRight"
                />
            </div>
        </button>
    </div>
</div>
