<!-- component header

<div class="row align-items-center justify-content-between">
	<div class="col-auto bg-primary">x</div>
	<div class="col d-flex align-items-center justify-content-end">
		<nav>
			<ul class="nav text-white-50 GTPlanar">
				<li class="nav-item">
					<a href="#hero" class="nav-link text-reset">Accueil</a>
				</li>
				<li class="nav-item">
					<a href="#activites" class="nav-link text-reset"
						>Activités</a
					>
				</li>
				<li class="nav-item">
					<a href="#categories" class="nav-link text-reset">ULM</a>
				</li>
				<li class="nav-item">
					<a href="#tarifs" class="nav-link text-reset">Tarifs</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link text-reset">Équipe</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link text-reset">Évènements</a>
				</li>
			</ul>
		</nav>
		<button
			class="btn btn-light ms-2 d-flex align-items-center rounded-pill"
		>
			<span class="ms-1 fw-bold Edges">Réservation</span>
			<div
				class="d-flex justify-content-center align-items-center p-2 rounded-circle ms-3 bg-black"
			>
				<img
					class=""
					src="../IMG/icon/arrowTopRight.svg"
					alt="arrowTopRight"
				/>
			</div>
		</button>
	</div>
</div> -->
<!-- component header -->
<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<!-- Logo / Branding -->
		<a class="navbar-brand text-white fw-bold" href="#">x</a>

		<!-- Burger Button -->
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarMenu"
			aria-controls="navbarMenu"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Menu et bouton réservation -->
		<div class="collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav ms-auto GTPlanar">
				<li class="nav-item">
					<a href="#hero" class="nav-link text-white-50">Accueil</a>
				</li>
				<li class="nav-item">
					<a href="#activites" class="nav-link text-white-50"
						>Activités</a
					>
				</li>
				<li class="nav-item">
					<a href="#categories" class="nav-link text-white-50">ULM</a>
				</li>
				<li class="nav-item">
					<a href="#tarifs" class="nav-link text-white-50">Tarifs</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link text-white-50">Équipe</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link text-white-50">Évènements</a>
				</li>
			</ul>

			<!-- Bouton réservation -->
			<button
				class="btn btn-light ms-lg-3 mt-2 mt-lg-0 d-flex align-items-center rounded-pill"
			>
				<span class="ms-1 fw-bold Edges">Réservation</span>
				<div
					class="d-flex justify-content-center align-items-center p-2 rounded-circle ms-3 bg-black"
				>
					<img
						src="../IMG/icon/arrowTopRight.svg"
						alt="arrowTopRight"
					/>
				</div>
			</button>
		</div>
	</div>
</nav>
